{% extends "layout.html.twig" %}

{% block title %}Mentions Légales{% endblock %}

{% block content %}

<div class="row mt-5">
    <div class="col offset-1">
        <h2>Mentions Légales</h2>
        <p><span>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quibusdam rerum velit mollitia. Enim vel magnam debitis. Ratione, repellat cupiditate? Quod dignissimos, voluptatem reiciendis sapiente hic dicta? Officiis explicabo necessitatibus expedita.</span><span>Autem eaque iure fugiat natus nobis, quibusdam iste officiis eveniet? Exercitationem praesentium, tempore nobis sint, quis dolores asperiores in rem laboriosam rerum, unde sed omnis sit maiores tempora at sunt!</span><span>Fuga iste soluta ut et saepe libero, doloribus similique nobis pariatur est debitis quisquam rem in impedit eaque natus qui itaque facilis iure! Et aliquid omnis expedita asperiores id nemo.</span><span>Quos a accusamus quaerat voluptate consectetur possimus est! Magni molestiae similique libero pariatur rerum porro architecto quaerat at sint. Impedit dignissimos placeat officia fugit fugiat qui nobis culpa cum eaque?</span><span>Perspiciatis vel repudiandae a voluptatem eaque autem perferendis labore ipsa deserunt exercitationem. Laborum non alias saepe, exercitationem vitae distinctio aliquam dolores earum est nobis illo culpa doloribus amet itaque quo!</span><span>Impedit voluptatem architecto ea minus quidem, ex nihil aperiam distinctio! Maxime, eaque. In numquam nulla, et commodi dolor consequatur veritatis corrupti repudiandae fugiat mollitia ullam nisi reiciendis adipisci vel sint.</span><span>Modi dignissimos iusto velit inventore voluptatem? Cupiditate, numquam eum. Officia, voluptates. Deserunt, ullam id? Amet, dolor iste. Autem deserunt animi tempore, sunt culpa dolorem repellat expedita ipsam reiciendis, blanditiis magni.</span><span>Aliquid vitae, odio at ex iste maxime natus unde laborum dolore laboriosam dolorum accusamus quasi nam, quaerat delectus! Vitae possimus beatae fugiat voluptatum eaque harum suscipit nemo voluptatem facere at!</span><span>Eius veniam voluptatem similique itaque maxime maiores rem eligendi voluptates aliquid debitis, pariatur labore aut ut esse iusto ea et earum quibusdam exercitationem repudiandae? Eaque dolore recusandae nisi excepturi praesentium.</span><span>Quas illo quisquam, ut temporibus quasi, laudantium earum culpa nihil laborum aperiam corporis eveniet veritatis alias iusto, voluptas similique voluptatum delectus totam minus pariatur dolorem sint. Quaerat excepturi id facere.</span></p>
    </div>
</div>

{% endblock %}

{% block javascript %}
    <script src="{{asset('js/main.js')}}"></script>
{% endblock %}