{% extends "layout.html.twig" %}

{% block title %}Ajouter un wish{% endblock %}

{% block content %}

<div class="row mt-5 text-center">
    <h2>Ajouter un wish</h2>
</div>


<div class="row mt-5">
    <div class="col-6 offset-3">
        {{ form(wishForm) }}
    </div>
</div>

{% endblock %}