{% extends "layout.html.twig" %}

{% block title %}Modifier un wish{% endblock %}

{% block content %}

<div class="row mt-5 text-center">
    <h2>Modifier un wish</h2>
</div>


<div class="row mt-5">
    <div class="col-6 offset-3">
        {{form_start(wishForm)}}
            {{ form_widget(wishForm) }}
            <button class="btn btn-success" type="submit">Modifier</button>
        {{form_end(wishForm)}}
    </div>
</div>

{% endblock %}